@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 188 45% 65%;
    --primary-foreground: 222 47% 11%;
    --secondary: 222 47% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 222 47% 20%;
    --muted-foreground: 210 40% 60%;
    --accent: 30 88% 59%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 47% 20%;
    --input: 222 47% 20%;
    --ring: 188 45% 65%;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 188 45% 65%;
    --primary-foreground: 222 47% 11%;
    --secondary: 222 47% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 222 47% 20%;
    --muted-foreground: 210 40% 60%;
    --accent: 30 88% 59%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 47% 20%;
    --input: 222 47% 20%;
    --ring: 188 45% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  .no-print {
    display: none !important;
  }
  .printable-area {
    box-shadow: none !important;
    border: none !important;
  }
  body.dark .printable-area {
    background-color: #fff !important;
    color: #000 !important;
  }
  body.dark .printable-area *,
  body.dark .printable-area p,
  body.dark .printable-area span,
  body.dark .printable-area h1,
  body.dark .printable-area h2,
  body.dark .printable-area h3,
  body.dark .printable-area th,
  body.dark .printable-area td
   {
    color: #000 !important;
  }
}